body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f9;
  color: #333;
  font-size: 25px;
  font-family: Cambria;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}

main.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
